{% set integration_name = 'system_reporter_email' %}
{% set display_name = 'Email' %}
{% set default_template = default_template %}
{% set section_name = section_name | default('reporters') %}

<add-integration-button
    integration_name="{{ integration_name }}"
    display_name="{{ display_name }}"
>
    <img class="w-5 h-5" src="{{ url_for('%s.static' | format(integration_name), filename='logo.svg') }}"/>
</add-integration-button>


<System-Email-Integration-Modal
        @register="register"
        instance_name="{{ integration_name }}"
        section_name="{{ section_name }}"
        @update="custom_data.handle_integrations_update"

        display_name="{{ display_name }}"
        default_template="{{ default_template | safe }}"
        logo_src="{{ url_for('%s.static' | format(integration_name), filename='logo_white.svg') }}"
></System-Email-Integration-Modal>
